.wrapper{
    margin-left: 5%;
    margin-right:5%;
    /* background-color: green; */
}

.header{
    margin-top: 25px;
}
.logo h1{
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.logo h1 span:first-of-type{
    color: #d19c97;
    margin-right:5px ;
    border: 1px  solid #ddd;
    padding:  5px 10px;
}

.logo h1 span:Second-of-type{
    color: green;
    margin-right:10px ;
   
}
.float-left{
    float: left;
}


.search-product input {
    width: 70%;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 10px;
    border-right: none;
    font-size: 20px;
    text-transform: capitalize;
}

.search-product button {
    height: 40px;
    width: 100px;
    font-size: 20px;
    border-radius:0 ;
    border: 1px solid #ddd;
    margin-left: -3px;
    color: #d19c97;
}
.selected-product{
    text-align: right;
}


